@font-face {
    font-family: "MyIcons";
    src: url("https://cdn.jsdelivr.net/gh/Youssef3102/my-icons@main/fonts/MyIcons.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/Youssef3102/my-icons@main/fonts/MyIcons.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/Youssef3102/my-icons@main/fonts/MyIcons.ttf") format("truetype");
}

.mi:before {
    font-family: MyIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mi.mi-Quran:before {
    content: "\f101";
}
.mi.mi-Home:before {
    content: "\f102";
}
.mi.mi-Gear:before {
    content: "\f103";
}
