@font-face {
    font-family: "MyIcons";
    src: url("https://cdn.jsdelivr.net/gh/Youssef3102/my-icons@main/fonts/MyIcons.woff2?5cc3df213af6934b7bcd06eea28a54cc") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/Youssef3102/my-icons@main/fonts/MyIcons.woff?5cc3df213af6934b7bcd06eea28a54c") format("woff"),
         url("https://cdn.jsdelivr.net/gh/Youssef3102/my-icons@main/fonts/MyIcons.ttf?5cc3df213af6934b7bcd06eea28a54cc") format("truetype");
}

.mi {
    color: transparent;              /* hide the fill */
    -webkit-text-stroke: 2px black;  /* stroke color & width */
    -moz-text-stroke: 2px black;     /* Firefox partial support */
    font-family: MyIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mi-filled {
    color: black;                     /* normal fill */
    -webkit-text-stroke: 0;           /* remove outline */
}

.mi.mi-Quran:before {
    content: "\f101";
}
.mi.mi-Home:before {
    content: "\f102";
}
.mi.mi-Gear:before {
    content: "\f103";
}
